// Importing variables (assuming you have defined styles like colors, fonts, etc.)
@import "../../variable.scss";

.project-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    min-height: 200px; // It's a good practice to keep a minimum height for content visibility
    margin: 0;

    // IMAGE WRAPPER STYLES
    .project-image-wrapper {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; // This prevents the image from spilling over the container
        border-radius: 3px; // Consistent with the design choice for rounded corners

        .project-image {
            flex-shrink: 0; // Prevents the image from compressing
            width: 100%; // Takes the full width of the wrapper
            height: 100%; // Takes the full height of the wrapper
            object-fit: cover; // Preserves aspect ratio of the image
        }
    }

    // CONTENT STYLES
    .project-content {
        margin-top: 10px;

        .project-title {
            margin: 0 0 10px 0;
            font-size: 1.25em;
        }

        .project-link {
            color: blue; // Assuming you have color variables in your variable.scss
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // HOVER EFFECTS
    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}

// RESPONSIVE STYLES
@media screen and (max-width: 768px) {
    .project-card {
        width: 100%; // Makes it responsive, taking full width on smaller screens
        height: auto;
    }
}
